.container{
  display: flex;
  flex-direction: column;
}
.container p{

  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  margin: 0;
}

/* h5{
  text-align: center;
} */
footer{
  margin: auto;
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
}

a{
  color: black;
}

i{
  font-size: 30px;
}
.body{
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  width: 80%;
  height: fit-content;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0em;
  transform-style: preserve-3d;
}


.image-container{
  display: grid;
  align-items: stretch;
  justify-content: stretch;
}

.image-container img{
  width: 90%;
  margin: 5%;
}

.w-1{
  grid-column: span 1;
}
.w-2{
  grid-column: span 2;
}
.w-3{
  grid-column: span 3;
}
.w-4{
  grid-column: span 4;
}

.h-1{
  grid-rows: span 1;
}
.h-2{
  grid-rows: span 2;
}
.h-3{
  grid-rows: span 3;
}
.h-4{
  grid-rows: span 4;
}